{"filter":false,"title":".gitignore","tooltip":"/kadai-tasklist/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1552207603448,"hash":"8b1083c4d5c0cb12436bb3af4af78b31aa177c58"}